<h1>OrderItems#create</h1>
<p>Find me in app/views/order_items/create.html.erb</p>
<% if @order.errors.any? || @order_item.errors.any? %>
alert("not valid.")
<% else %>
  $(".cart-text").html("<%= escape_javascript(render 'layouts/cart_text') %>")
<% end %>
